@charset "UTF-8";
body {
  overflow: hidden;
}

.section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section > div {
  position: relative;
  top: -10%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description {
  -webkit-transition: -webkit-transform 1.4s ease-in-out;
  transition: -webkit-transform 1.4s ease-in-out;
  transition: transform 1.4s ease-in-out;
  transition: transform 1.4s ease-in-out, -webkit-transform 1.4s ease-in-out;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputs .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.inputs .word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
}

.inputs .word input,
.inputs .word span {
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  font-size: 2.5rem;
  color: gray;
}

.inputs .word input.correct,
.inputs .word span.correct {
  -webkit-box-shadow: 0px 4px 20px #72B065;
          box-shadow: 0px 4px 20px #72B065;
}

.inputs .word input.incorrect,
.inputs .word span.incorrect {
  -webkit-box-shadow: 0px 4px 20px red;
          box-shadow: 0px 4px 20px red;
}

.inputs .word input:focus,
.inputs .word span:focus {
  opacity: 0.5;
}

.prompt {
  text-align: center;
  max-width: 50vw;
}

.prompt > p {
  margin: 0;
}

.prompt .letters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prompt .letters .owned-letter {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.get-gift {
  width: 3rem;
  height: 1.5rem;
  position: fixed;
  top: 80%;
  right: -100%;
  -webkit-transition: right 0.8s ease-in-out;
  transition: right 0.8s ease-in-out;
}

.get-gift.gotit {
  right: 10%;
}

.result {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  pointer-events: none;
}

.result * {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.result .puff {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  -webkit-transform: translate(0, -400%);
          transform: translate(0, -400%);
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

.result .sups {
  width: 40vw;
  position: absolute;
  bottom: 0;
}

.result .sups.left {
  left: 0%;
  -webkit-transform: translate(-200%, 0);
          transform: translate(-200%, 0);
}

.result .sups.right {
  bottom: -10%;
  right: 0%;
  -webkit-transform: translate(200%, 0);
          transform: translate(200%, 0);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.result .tada {
  width: 20vw;
  position: absolute;
  top: 5%;
}

.result .tada.left {
  left: 5%;
  -webkit-transform: translate(-200%, 200%);
          transform: translate(-200%, 200%);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.result .tada.right {
  right: 5%;
  -webkit-transform: scaleX(-1) translate(-200%, 200%);
          transform: scaleX(-1) translate(-200%, 200%);
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.result h1 {
  margin-top: 5%;
  line-height: 100%;
  z-index: 99;
  text-align: center;
  text-shadow: 0px 4px 20px white;
  -webkit-transform: translate(0, -400%);
          transform: translate(0, -400%);
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
  position: relative;
}

.result h1::after {
  content: 'Это вам за плавание с дельфинами';
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  font-size: 12px;
}

.result .pdf {
  width: 10vw;
  position: relative;
  -webkit-transform: scaleX(0) rotate(1440deg);
          transform: scaleX(0) rotate(1440deg);
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.result.appear .puff {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.result.appear .sups.left, .result.appear .sups.right {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.result.appear .tada.left {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.result.appear .tada.right {
  -webkit-transform: scaleX(-1) translate(0, 0);
          transform: scaleX(-1) translate(0, 0);
}

.result.appear h1 {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.result.appear .pdf {
  -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
  pointer-events: auto;
}
/*# sourceMappingURL=password.css.map */